@import url(https://fonts.google.com/specimen/Inter);
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  body {
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
}
img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    justify-self: center;
}
li{
    list-style: none;
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    font-weight: 600;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: hsl(0, 0%, 12%);
    padding: 2.5em;
    border-radius: 10px;
}
.profileDescription{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
#location{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-bottom: 10px;
}